.titleContainer {
    display: flex;
    height: 97vh;
}

.sidebar {
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px;
}

.titleMain {
    width: calc(100vw - 200px);
    padding: 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px;
    height: 100%;
    padding-left: 20px;
}

.Maincontent {
    display: inline-flex;
    flex-wrap: wrap;
}

.contentbox {
    margin-left: 10px;
}

.paginationBox {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 80%;
}