.mainCenter {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.CenterBox {
    width: 100%;
    display: block;
}

.col1 {
    width: 33%;
    height: 100%;
}

.col2{
    width: 37%;
    height: 100%;
}

.col3 {
    width: 22%;
    height: 100%;
}

.mobileCenter {
    display: none;
}

@media screen and (max-width: 480px) {
    .mainCenter {
        display: none;
    }

    .mobileCenter {
        width: 100%;
        display: block;
    }
}