.homeWrapper {
  min-height: 100%;
}

.mobilePageContainer {
  display: none;
}

.desktopPageContainer{
  margin: 0 auto;
  padding: 16px 0 1em 0;
  width: 980px;
  min-height: 100%;
  display: flex;
}

.clfooter {
  list-style: none;
}

footer .clfooter li {
  display: inline;
  padding: 0 4px;
  font-size: small;
}

.homeWrapper footer {
  border-top: 1px solid #ccc;
  line-height: 1.5em;
  min-height: 1.1em;
  background: #eee;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.mobile {
  display: none;
}

.new {
  font-weight: bold;
  color: orange;
  margin-left: .5em;
  font-size: .7em;
  line-height: normal;
  vertical-align: super;
}

.homeWrapper a {
    color: #00e;
    cursor: pointer;
    text-decoration: none;
}

.homeWrapper a:hover {
    color: purple;
}

.homeWrapper input, .homeWrapper label, .homeWrapper legend {
  font-family: "Arial",sans-serif;
}

.left {
  width: 22%;
}

.center {
 width: 63%;
 margin: 0 2%;
}

.right {
  width: 13%;
}

@media screen and (max-width: 480px) {
  .desktopPageContainer {
    display: none;
  }

  footer .clfooter li {
    font-size: x-small;
  }

  .mobilePageContainer {
    display: block;
  }

}

.mobilePageContainer {
  width: 100%;
}